*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: Geometria;
    background-color: #2c7580;
    color: #ccc;
    user-select: none;
    overflow: hidden;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper {
    outline: 2px solid red;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    width: 100px;
    height: 100px;
    perspective: 500px;
}

.box {
    width: inherit;
    height: inherit;
    line-height: 100px;
    transform-style: preserve-3d;
    transform: rotateY(20deg) rotateX(0deg);
}

.box__wing,
.box__side {
    position: absolute;
    width: inherit;
    height: inherit;
    text-align: center;
    line-height: inherit;
    background: coral;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box__wing {
    width: 150px;
}

.box__wing--left {
    transform: rotateX(90deg) translateY(-50px) translateX(-150px) translateZ(50px);
    border-bottom-left-radius: 50%;
    border-top-right-radius: 10%;
}

.box__wing--right {
    transform: rotateX(90deg) translateY(-50px) translateX(100px) translateZ(50px);
    border-bottom-right-radius: 50%;
    border-top-left-radius: 10%;
}

.box__side--left,
.box__side--right {
    color: blue;
    font-size: 100px;
    text-shadow: 0 0 5px black;
}

.box__side--bottom {
    background: red;
    transform: translateZ(-50px) translateY(-50px) rotateX(-90deg);
}

.box__side--top {
    background: black;
    transform: translateZ(-50px) translateY(-100px) rotateX(90deg);
}

/* ------------------------ */
/*.side-front {*/
/*    transform: translateZ(50px);*/
/*}*/

/*.side-back {*/
/*    transform: rotateY(-180deg) translateZ(50px);*/
/*}*/

/*.side-right {*/
/*    transform: rotateY(90deg) translateZ(50px);*/
/*}*/

/*.side-left {*/
/*    transform: rotateY(-90deg) translateZ(50px);*/
/*}*/


















